
.faq-section {
    position: relative;
}

.faq-image {
    img {
        @include imgw;
    }
}

.faq-content {
    .accordion-collapse {
        border-top: 2px solid transparent;
        border-image: $color-gradient-1;
        border-top: 2px solid transparent;
        border-image-slice: 2;
    }
    .accordion-item {
        border: 0;
        background-color: $white;

        .accordion-header { 
            .accordion-button { 
                font-weight: 500;
                color: $white;
                letter-spacing: -.2px;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                background-color: $bg-color-2;
                padding: 25px 30px;
                text-transform: capitalize;
                font-size: 22px;

                &::after {
                    content: "+";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out !important;
                    color: $theme-color-2;
                }
                &:not(.collapsed)::after {
                    content: "-";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 500;
                    color: $theme-color-2;
                }
              
            }
        }

        .accordion-collapse { 

            .accordion-body {
                padding-right: 30px;
                padding-left: 30px;
                padding-top: 25px;
                color: $text-color;
                background-color: $bg-color-2;
            }
        }
    }

    

}